<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,300,300italic,600italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Furatto" %></title>

    <%= favicon_tag 'images/fav.ico' %>
    <%= stylesheet_link_tag "normalize", "all" %>
  </head>

  <body>
    <nav class="navigation-bar">
      <ul class="brand-section">
        <li class="brand-name">
          <a href="/" class="menu-trigger" id="trigger">
            Furatto
          </a>
        </li>
        <li class="menu-toggle">
        <a href="#"></a>
        </li>
      </ul>

      <ul class="pull right text uppercase main-navigation">
        <li><a href="#">Issues</a></li>
        <li><a href="#">Github</a></li>
        <li><a href="#">Download</a></li>
      </ul>
    </nav>

    <div class="row">
      <div class="two columns">
        <ul class="navigation">
          <li class="header">SETUP</li>
          <li><a href="/overview.html">Overview</a></li>
          <li><a href="/whats_included.html">What's included?</a></li>
          <li><a href="/basic_setup.html">Basic Setup</a></li>
          <li><a href="/using_rails.html">Using Rails</a></li>
          <li class="header">GUIDES</li>
          <li><a href="/alerts.html">Alerts</a></li>
          <li><a href="/badges.html">Badges</a></li>
          <li><a href="/buttons.html">Buttons</a></li>
          <li><a href="/forms.html">Forms</a></li>
          <li><a href="/grid.html">Grid</a></li>
          <li><a href="/images.html">Images</a></li>
          <li><a href="/labels.html">Labels</a></li>
          <li><a href="/navigation_bar.html">Navigation Bar</a></li>
          <li><a href="/tables.html">Tables</a></li>
          <li class="header">UTILITIES</li>
          <li><a href="/responsive_utilities.html">Responsive utilities</a></li>
          <li><a href="/text_alignment.html">Text alignment</a></li>
        </ul>
      </div>
      <div class="ten columns no-padding border left">
        <%= yield %>
      </div>
    </div>


    <%= javascript_include_tag  "all" %>
  </body>
</html>
