<div class="row">
  <div class="container">
    <h1>Utility Classes</h1>
    <p>Simple and functional class names for behavior tweaks.</p>
    <div class="row">
        <h4><em>Floating elements</em></h4>
        <div class="six columns">
            <h3><em>.pull-left</em></h3>
        	<p>Floats an element to the left.</p>
        	<%= code_block do 
          %q{&lt;div class="pull-left">...&lt;/div>}
        	end %>
        </div>
    	<div class="six columns">
        	<h3><em>.pull-right</em></h3>
        	<p>Floats an element to the right.</p>
        	<%= code_block do 
          %q{&lt;div class="pull-right">...&lt;/div>}
        	end %>
        </div>
        <div class="six columns">
        	<h3><em>.clearfix</em></h3>
    		<p>Clears the float on any element.</p>
        	<%= code_block do 
          %q{&lt;div class="clearfix">...&lt;/div>}
        	end %>
       	</div>
    </div>   	
    <div class="row">
    	<h4><em>Text variations</em></h4>
    	<p>We have included some text variations that will help you give more importance to a certain sentence, or word.</p>
    	<div class="six columns">
        	<h3><em>.text-uppercase</em></h3>
        	<p>Transforms the text to uppercase. Handy when you want to force the uppercase on a text.</p>
        	<%= code_block do 
          %q{&lt;p class="text-uppercase">...&lt;/p>}
        	end %>
        </div>
        <div class="six columns">
            <h3><em>.text-muted</em></h3>
            <p>Slightly decreases the color for a text, which is <b>#666666</b>.</p>
            <%= code_block do 
          %q{&lt;p class="text-muted">...&lt;/p>}
            end %>
        </div>
        <div class="row twelve columns">
            <div class="six columns">
                <h3><em>.text-error</em></h3>
                <p>This is a helpful class to highlight a chunk of text that you want the user to notice, probably because of an error. The default color is <b>#C0392b</b>.</p>
                <%= code_block do 
          %q{&lt;p class="text-error">...&lt;/p>}
            end %>
            </div>
            <div class="six columns">
                <h3><em>.text-success</em></h3>
                <p>This is a helpful class to highlight a chunk of text that you want the user to notice and let them know they are doing something right. The default color is <b>#27AE60</b>.</p>
                <%= code_block do 
          %q{&lt;p class="text-success">...&lt;/p>}
            end %>
            </div>
        </div>
    </div>
    <! --Text alignment finds in his own section. -->
    <div class="row">
        <h1>Text alignment</h1>
        <p>Furatto provides class names to help you align text for different screen sizes and enhance mobile-friendly development, by deciding how to align the text at a class name scope.</p>
        <div class="row">
            <h4><em>Alignment</em></h4>
            <table class="responsive">
                <thead>
                    <tr>
                        <th>Text </th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>text center</td>
                        <td>center-on-phone</td>
                    </tr>
                    <tr>
                        <td>text left</td>
                        <td>left-on-phone</td>
                    </tr>
                    <tr>
                        <td>text right</td>
                        <td>right-on-phone</td>
                    </tr>
                    <tr>
                        <td>text justify</td>
                        <td>justify-on-phone</td>
                    </tr>
                </tbody>
            </table>
            <div class="html no-padding border left bottom">
                <div class="container result" style="height:400px;">
                    <span>RESULT</span>
                    <div class="wrapper">
                        <h5 class="text left" style="color:#3399ff">Text Left</h5>
                        <h5 class="text center"style="color:#3399ff">Text Center</h5>
                        <h5 class="text right" style="color:#3399ff">Text Right</h5>
                        <h5 class="text justify" style="color:#3399ff">Text Justify</h5>
                        <h5 class="text right left-on-phone" style="color:#3399ff">Text right// Left on phone</h5>
                     </div>
                </div>
            </div> 
        </div>
    </div>       
    <div class="row">
        <h4><em>Content classes</em></h4>
        <p>You can easily manage the content with these 3 handy class names that will rock you world.</p>
        <div class="six columns">
            <h3><em>.vertical-align</em></h3>
            <p>This really helpful class will align any element vertically, yes is true. The only caveat is that the parent element has to have a height.</p>
            <%= code_block do 
          %q{&lt;div style="height:300px">
    &lt;p class="vertical-align"> ...&lt;/p>
  &lt;/div>}
            end %>
        </div>
        <div class="six columns">
            <h3><em>.nopadding</em></h3>
            <p>Removes the padding from any element, we have been using this on some columns, just when it is necessary.</p>
            <br>
            <%= code_block do 
          %q{&lt;div class="nopadding">...&lt;/div>}
            end %>
        </div>
        <div class="twelve columns">
            <div class="six columns">
                <h3><em>.hidden</em></h3>
                <p>Hides any element on the markup by adding the display: none css rule.</p>
                <%= code_block do 
          %q{&lt;div class="hidden">...&lt;/div>}
            end %>
            </div>
        </div>
    </div>
</div>